@charset "UTF-8";
.icones-traducao-sprite, .icones-traducao-france, .icones-traducao-spain, .icones-traducao-united-states-of-america {
  background-image: url('../img/icones-traducao-s1cbaf960c3.png');
  background-repeat: no-repeat;
}

.icones-redes-sociais-sprite, .icones-redes-sociais-RSS, .icones-redes-sociais-facebook, .icones-redes-sociais-flickr, .icones-redes-sociais-instagram, .icones-redes-sociais-twitter, .icones-redes-sociais-youtube {
  background-image: url('../img/icones-redes-sociais-s2fe976924e.png');
  background-repeat: no-repeat;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  color: black;
  background: white;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: "" "";
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

a img {
  border: none;
}

/******Estilo do Documento******/
/******Estilo Geral do Corpo do Documento******/
body {
  background: lightgray;
}

.caixa {
  width: 1200px;
  margin: 0 auto;
}

.contraste {
  background: black;
  color: #FFFFFF;
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #4B4B4B;
}

h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

h4 {
  font-size: 15px;
  font-weight: bold;
  color: #878787;
  margin-bottom: 5px;
}

p {
  text-align: justify;
}

/******Estilo do Header******/
header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.barra-acessibilidade {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: #FFFFFF;
  height: 30px;
  padding: 0 15px;
}
.barra-acessibilidade ul {
  display: -webkit-flex;
  display: flex;
}
.barra-acessibilidade ul:nth-child(2) {
  text-transform: uppercase;
  text-decoration: underline dotted;
}
.barra-acessibilidade li {
  margin: 5px;
}
.barra-acessibilidade span {
  background: black;
  color: #FFFFFF;
  opacity: 0.7;
  padding: 0 0.3em;
  margin-left: 0.25em;
}

.icones-traducao-france {
  background-position: 0 0;
}

.icones-traducao-spain {
  background-position: 0 -18px;
}

.icones-traducao-united-states-of-america {
  background-position: 0 -36px;
}

.icones-traducao-france, .icones-traducao-spain, .icones-traducao-united-states-of-america {
  width: 16px;
  height: 16px;
}

.content {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  height: 100px;
  filter: drop-shadow(1px 1px 1px #000000);
  -moz-filter: drop-shadow(1px 1px 1px #000000);
  -webkit-filter: drop-shadow(1px 1px 1px #000000);
}

.menu-ufpr ul {
  display: -webkit-flex;
  display: flex;
}
.menu-ufpr ul li a {
  background: #467F8C;
  margin: 0 1px 0 0;
  padding: 4px;
}
.menu-ufpr ul li a:hover {
  background: #6FB7BF;
}

.barra-pesquisa {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.4);
  height: 40px;
  margin: 10px 0;
  padding: 0 15px;
}
.barra-pesquisa h1 {
  color: #FFFFFF;
  text-shadow: 0px 2px 1px #000000;
  font-size: 30px;
}
.barra-pesquisa form {
  display: -webkit-flex;
  display: flex;
}
.barra-pesquisa form input {
  border: none;
  height: 25px;
  border-radius: 2px;
  padding: 15px;
}
.barra-pesquisa form button {
  border: none;
  background: url("../img/Icone-Pesquisa.png") center;
  background-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  top: 5px;
  right: 30px;
}
.barra-pesquisa form label {
  display: none;
}

.menu {
  background-color: #467F8C;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
}
.menu > ul {
  grid-auto-flow: column;
}
.menu > ul > li {
  margin: 0 0.5rem;
}
.menu > ul > li a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  color: #000000;
  font-size: 1.125rem;
}
.menu > ul > li a:focus {
  outline: none;
}
.menu > ul > li > a {
  padding: 1rem 0.5rem;
  border-top: 3px solid transparent;
  transition: 280ms all 120ms ease-out;
}
.menu > ul > li > a:hover, .menu > ul > li > a:focus {
  border-top-color: #6FB7BF;
  color: #6FB7BF;
}
.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}
.menu ul li {
  padding: 0;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown__title {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.dropdown .dropdown__title:after {
  content: "";
  border: 0.35rem solid transparent;
  border-top-color: rgba(255, 255, 255, 0.45);
  margin-left: 0.50em;
  transform: translateY(50%);
}
.dropdown .dropdown__menu {
  position: absolute;
  min-width: 30ch;
  left: 50%;
  top: calc(100% - 0.25rem);
  transition: 280ms all 120ms ease-out;
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  padding: 0.5em 0;
  background-color: #FFFFFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 0.15em 0.25em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 0.15em 0.25em;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.15em 0.25em;
}
.dropdown .dropdown__menu a {
  color: #467F8C;
  display: block;
  padding: 0.5em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: 280ms all 120ms ease-out;
}
.dropdown .dropdown__menu a:hover {
  background-color: rgba(111, 183, 191, 0.15);
}
.dropdown .dropdown__menu a:focus {
  outline: none;
  background-color: rgba(111, 183, 191, 0.25);
}
.dropdown:after {
  content: "";
  border: 0.5rem solid transparent;
  border-bottom-color: #FFFFFF;
  position: absolute;
  top: calc(100% - 1.25rem);
  left: 50%;
  transform: translateX(-50%);
  transition: 280ms all 120ms ease-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  will-change: opacity;
}
.dropdown:hover .dropdown__title, .dropdown:focus-within .dropdown__title {
  border-top-color: #6FB7BF;
}
.dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}
.dropdown:hover .dropdown__menu a, .dropdown:focus-within .dropdown__menu a {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.dropdown:hover:after, .dropdown:focus-within:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}

/******Estilo dos Elementos do Rodapé******/
main {
  background: #FFFFFF;
  padding-top: 50px;
}

.atalhos {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}

.atalhos div {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.atalhos h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.atalhos img {
  width: 150px;
  transition: 0.5s;
  border-radius: 100%;
  background: #FFFFFF;
}

.atalhos img:hover {
  border-radius: 0;
  transform: scale(1.1);
  background: #a3a0a0;
}

.apresentacao,
.noticias-estatisticas {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 20px;
}

.apresentacao div,
.apresentacao frame,
.noticias,
.estatisticas {
  width: 50%;
}

.estatisticas, .apresentacao div {
  margin-left: 20px;
}

.cabecalho-noticias {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.portifolio {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
}

.imagem-portifolio {
  border: thin black solid;
  width: 200px;
  height: 100px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  background: url("../img/favicon.png") center no-repeat;
  -moz-background-size: 80px;
  -o-background-size: 80px;
  -webkit-background-size: 80px;
  background-size: 80px;
  -moz-box-shadow: #000000 5px 5px 2px;
  -webkit-box-shadow: #000000 5px 5px 2px;
  box-shadow: #000000 5px 5px 2px;
}

.secaoContato-form-fieldset {
  border: 0;
}

.secaoContato-form-legend {
  max-width: 300px;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.secaoContato-form-cta {
  width: 100%;
  margin-top: 1em;
  display: block;
  background: transparent;
  color: #B72E2E;
  border: 1px solid #B72E2E;
}

.secaoContato-form-cta:hover,
.secaoContato-form-cta:focus {
  color: #fff;
  background-color: #B72E2E;
}

.contatoCampo {
  margin: .8em auto;
  max-width: 600px;
  position: relative;
}

.contatoCampo-label {
  position: relative;
}

.contatoCampo-label:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 20px;
  height: 20px;
  text-align: center;
  background-color: #FFFFFF;
  transform: translate(-7px, -3px);
  border: 1px solid #7D7D7D;
  color: transparent;
  line-height: 1;
  transition: background-color .2s ease-in, color .2s ease-in;
  box-sizing: border-box;
}

.contatoCampo-checkbox:hover + .contatoCampo-label:before,
.contatoCampo-checkbox:focus + .contatoCampo-label:before {
  border: 2px solid #333;
}

.contatoCampo-checkbox:checked + .contatoCampo-label:before {
  content: '';
  color: #FFFFFF;
  background-image: radial-gradient(circle, #2da4e7, #2f80ed);
  border-color: #015fbe;
  line-height: .8;
}

.contatoCampo-checkbox:checked + .contatoCampo-label:after {
  content: '';
  width: 10px;
  height: 5px;
  display: block;
  border-bottom: 2px solid #FFFFFF;
  border-left: 2px solid #FFFFFF;
  transform: rotate(-45deg);
  position: absolute;
  z-index: 2;
  left: -3px;
  top: 2px;
}

.contatoCampo-checkbox {
  /*  display: none;*/
  /*  visibility: hidden*/
  left: -9999px;
  position: absolute;
  opacity: 0;
}

.contatoCampo-icone {
  position: absolute;
  left: -2em;
  top: 2.5em;
  width: 1.5em;
}

.contatoCampo label,
.contatoCampo input:not([type='checkbox']),
.contatoCampo textarea {
  display: block;
  width: 100%;
  text-align: left;
}

.contatoCampo label {
  margin-bottom: 5px;
  margin-left: 8px;
}

.contatoCampo input,
.contatoCampo textarea {
  font-size: 1em;
  padding: .5em;
  min-height: 50px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: 0;
}

.contatoCampo input:focus,
.contatoCampo textarea:focus {
  border: 2px solid #222;
}

.contatoCampo-campoDesabilitado {
  background-color: #ddd;
}

.contatoCampo-msg,
.formContato-validacao {
  margin-left: 4px;
  margin-top: 4px;
  font-size: .9em;
  font-weight: bold;
  color: #FD1242;
  display: none;
}

.contatoCampo .contatoCampo--validouFoi {
  border: 2px solid #219653;
  background-color: #FFFFFF;
  position: relative;
}

.contatoCampo .contatoCampo--validouErro {
  border: 2px solid #FF0000;
  background-color: #FFFFFF;
  position: relative;
}

.contatoCampo--sucesso:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 33px;
  height: 32px;
  position: absolute;
  z-index: 1;
  right: .4em;
  transform: translateY(112%) scale(0.65);
  background-image: url(../img/validacao-sucesso.png);
}

.contatoCampo--erro:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 33px;
  height: 32px;
  position: absolute;
  z-index: 1;
  right: .4em;
  transform: translateY(112%) scale(0.65);
  background-image: url(../img/validacao-erro.png);
}

.dialogNewsletter {
  display: none;
}

.dialogNewsletter--aberto {
  display: block;
}

.dialogNewsletter-body {
  font-size: 18px;
  border-radius: 8px;
  background-color: #FFFFFF;
  border: 1px solid #8D8D8D;
  padding: 3em 1.5em 1.5em 1.5em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -52%);
  z-index: 3;
  transition: .3s ease-in;
  color: #222;
  width: 300px;
  max-width: 533px;
  text-align: left;
}

.dialogNewsletter-overlay {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.overlayDialog + .dialogNewsletter {
  display: block;
  transform: translate(-50%, -50%);
}

.dialogNewsletter-titulo {
  font-size: 1.8em;
  line-height: 1;
}

.dialogNewsletter-texto {
  font-size: 1em;
  margin-bottom: 1.5em;
  margin-top: 1em;
  font-weight: normal;
}

.dialogNewsletter-label {
  position: absolute;
  z-index: -1;
  left: -9999px;
}

.dialogNewsletter-campo {
  font-size: 1em;
  border-radius: 8px;
  border: 1px solid #5E5E5E;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 100%;
  min-width: 245px;
}

.dialogNewsletter-btn {
  vertical-align: top;
  text-indent: -9999px;
  border-radius: 8px;
  border: 1px solid #FF1242;
  padding: 8px;
  width: 100%;
  height: 3.1em;
  background: url(../img/email.png) no-repeat center;
  transition: .2s ease-in;
}

.dialogNewsletter-btn:hover,
.dialogNewsletter-btn:focus {
  background-color: #EB5757;
  cursor: pointer;
  background-image: url(../img/email-hover.png);
}

.dialogNewsletter-fechar {
  position: absolute;
  background-color: transparent;
  transform: translate(50%, 50%) scale(1.4);
  top: -5px;
  right: 25px;
  width: 32px;
  height: 32px;
  border: 0;
  border: 1px solid;
  overflow: hidden;
  color: transparent;
  font-size: 0;
}

.dialogNewsletter-fechar:before {
  content: 'x';
  color: #666;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 20px;
  font-weight: bold;
}

.dialogNewsletter-fechar:hover:before,
.dialogNewsletter-fechar:focus:before {
  color: #ce3434;
  cursor: pointer;
}

/******Estilo dos Elementos do Rodapé******/
.rodape-links {
  background: url("../img/rodape_ufpr.png") no-repeat center top;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -webkit-background-size: 100%;
  background-size: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 550px;
}

.sessao-links {
  width: 20%;
  margin: 20px auto;
}

.sessao-links h3 {
  font-weight: bold;
  border-bottom: black solid 1px;
}

.sessao-links ul {
  margin-top: 10px;
}

.sessao-links ul li {
  margin: 10px 0 0 5px;
}

.sessao-links ul li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid black;
}

.rodape-social {
  padding: 20px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ2N2Y4YyIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMDA0MmIxIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #467f8c), color-stop(90%, #0042b1));
  background-image: -moz-linear-gradient(#467f8c, #0042b1 90%);
  background-image: -webkit-linear-gradient(#467f8c, #0042b1 90%);
  background-image: linear-gradient(#467f8c, #0042b1 90%);
}

.icones-redes-sociais {
  float: left;
}

.icones-redes-sociais h3 {
  font-weight: bold;
  color: #FFFFFF;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.icones-redes-sociais-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 350px;
}

.icones-redes-sociais-RSS {
  background-position: 0 0;
}

.icones-redes-sociais-facebook {
  background-position: 0 -50px;
}

.icones-redes-sociais-flickr {
  background-position: 0 -100px;
}

.icones-redes-sociais-instagram {
  background-position: 0 -150px;
}

.icones-redes-sociais-twitter {
  background-position: 0 -200px;
}

.icones-redes-sociais-youtube {
  background-position: 0 -250px;
}

.icones-redes-sociais-facebook,
.icones-redes-sociais-twitter,
.icones-redes-sociais-flickr,
.icones-redes-sociais-RSS,
.icones-redes-sociais-youtube,
.icones-redes-sociais-instagram {
  width: 48px;
  height: 48px;
  filter: drop-shadow(5px 5px 5px #000000);
  -moz-filter: drop-shadow(5px 5px 5px #000000);
  -webkit-filter: drop-shadow(5px 5px 5px #000000);
}

.caracteristica-departamento {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.caracteristica-departamento p,
.copyright p {
  color: #FFFFFF;
  margin-bottom: 5px;
  text-align: center;
}

.caracteristica-departamento p:first-child {
  font-weight: bold;
  font-size: 1.5em;
}

.caracteristica-departamento p:nth-child(2) {
  font-weight: bold;
  font-size: 1.3em;
}

.caracteristica-departamento p:nth-child(3) {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 20px;
}

.caracteristica-departamento img {
  max-width: 170px;
  margin-top: 20px;
}

.copyright {
  text-align: center;
  margin-top: 30px;
}

#footer-brasil {
  background: none repeat scroll 0% 0% #0042b1;
  padding: 1em 0px;
  max-width: 100%;
}
