@charset "UTF-8";
/******Estilo dos Elementos do Rodapé******/
/* line 6, layout/footer.scss */
.rodape-links {
  background: url("../img/rodape_ufpr.png") no-repeat center top;
  background-size: 100%;
  display: flex;
  flex-flow: column wrap;
  height: 600px; }

/* line 14, layout/footer.scss */
.sessao-links {
  width: 20%;
  margin: 20px auto; }

/* line 19, layout/footer.scss */
.sessao-links h3 {
  font-weight: bold;
  border-bottom: black solid 1px; }

/* line 24, layout/footer.scss */
.sessao-links ul {
  margin-top: 10px; }

/* line 28, layout/footer.scss */
.sessao-links ul li {
  margin: 10px 0 0 5px; }

/* line 32, layout/footer.scss */
.sessao-links ul li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid black; }

/* line 44, layout/footer.scss */
.rodape-social {
  padding: 20px;
  background: linear-gradient(#3E7489, #0042b1 90%); }

/* line 49, layout/footer.scss */
.icones-redes-sociais {
  float: left; }

/* line 53, layout/footer.scss */
.icones-redes-sociais h3 {
  position: relative;
  font-weight: bold;
  color: #FFF;
  font-size: 1.5em;
  margin-bottom: 10px; }

/* line 61, layout/footer.scss */
.icones-redes-sociais img {
  position: relative;
  width: 45px;
  filter: drop-shadow(5px 5px 5px #000000);
  -webkit-filter: drop-shadow(5px 5px 5px #000000); }

/* line 68, layout/footer.scss */
.caracteristica-departamento {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }

/* line 74, layout/footer.scss */
.caracteristica-departamento p,
.copyright p {
  color: #FFF;
  margin-bottom: 5px;
  text-align: center; }

/* line 81, layout/footer.scss */
.caracteristica-departamento p:first-child {
  font-weight: bold;
  font-size: 1.5em; }

/* line 86, layout/footer.scss */
.caracteristica-departamento p:nth-child(2) {
  font-weight: bold;
  font-size: 1.3em; }

/* line 91, layout/footer.scss */
.caracteristica-departamento p:nth-child(3) {
  font-weight: bold;
  font-size: 1em;
  margin-bottom: 20px; }

/* line 97, layout/footer.scss */
.caracteristica-departamento img {
  max-width: 170px;
  margin-top: 20px; }

/* line 102, layout/footer.scss */
.copyright {
  text-align: center;
  margin-top: 30px; }

/* line 107, layout/footer.scss */
#footer-brasil {
  background: none repeat scroll 0% 0% #0042b1;
  padding: 1em 0px;
  max-width: 100%; }
