/******Estilo do Header******/

header{
	background: url("../img/header/MEV_Espiculas_Bio.png") center;
}

.barra-acessibilidade{
	text-align: center;
	background: #FFFFFF;
	height: 30px;
	padding: 0 15px;
}

.barra-acessibilidade ul{
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 	
}

.barra-acessibilidade ul:first-child{
	float: left;
}

.barra-acessibilidade ul:nth-child(2){
	text-transform: uppercase;	
}

.barra-acessibilidade ul:nth-child(2) li{
	text-decoration: underline dotted;
}

.barra-acessibilidade ul:nth-child(3){
	float: right;
}

.barra-acessibilidade li{
	display: inline;
	margin: 5px;
}

.barra-acessibilidade span{
	background: black;
}

.barra-acessibilidade img{
	width: 16px;
}

.logo{
	display: inline-block;
	height: 100px;
	border: thin #FF0004 solid;
	margin: 10px;
}

#barra-pesquisa{
	display: block;
	border: thin #FF0004 solid;
	text-align: right;
	background: rgba(255,255,255,0.51);
	padding: 10px;
}

#barra_pesquisa label{
	display: inline;
}

#barra_pesquisa form{
	display: inline;
}

.menu-ufpr{
	display: inline-block;
	float: right;
	margin: 10px;
}

.menu-ufpr ul{
	display: inline-block;	
}

.menu-ufpr ul li{
	display: inline;
	margin: 0 0.1em 0 0;
	padding: 5px;
	background: rgba(163,163,163,0.40);
}

.menu{
	display: block;
	border: thin #FF0004 solid;
	height: 100px;
	background: #0042b1;
}

.menu li{
	display: inline;
	margin: 0 15px 0 0;
}

.menu a{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	color: white;
}

