/******Estilo do Header******/

header{
	background: url("../img/header/MEV_Espiculas_Bio.png") center;
}

.barra-acessibilidade{
	text-align: center;
	background: #FFFFFF;
	height: 30px;
	padding: 0 15px;
}

.barra-acessibilidade ul{
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 	
}

.barra-acessibilidade ul:first-child{
	float: left;
}

.barra-acessibilidade ul:nth-child(2){
	text-transform: uppercase;	
}

.barra-acessibilidade ul:nth-child(2) li{
	text-decoration: underline dotted;
}

.barra-acessibilidade ul:nth-child(3){
	float: right;
}

.barra-acessibilidade li{
	display: inline;
	margin: 5px;
}

.barra-acessibilidade span{
	background: black;
    color: white;
    opacity: 0.7;
    padding: 0 0.3em;
    margin-left: 0.25em;
}

.barra-acessibilidade img{
	width: 16px;
}

.logo{
	display: inline-block;
	height: 100px;
	margin: 10px;
}

.menu-ufpr{
	display: inline-block;
	float: right;
	margin: 15px;
}

.menu-ufpr ul{
	display: inline-block;	
}

.menu-ufpr ul li{
	display: inline;
	padding: 5px;
	background: rgba(163,163,163,0.40);
}

#barra-pesquisa{
	display: block;
	background: rgba(255,255,255,0.51);
	text-align: right;
	height: 50px;
}

#barra-pesquisa h1{
	float: left;
	color: white;
	text-shadow: 1px 1px black;
}

#barra-pesquisa form{
	
}

#barra-pesquisa form label{
	display: none;
}

#barra-pesquisa form button{
	
}

.menu{
	display: block;
	border: thin #447B90 solid;
	height: 100px;
	background: #447B90;
}

.menu ul li{
	display: inline-block;
}

.menu a{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 22px;
	color: white;
}

