/******Estilo dos Elementos do Rodapé******/
main {
	width: 1200px;
	margin: 0 auto;
}

.atalhos{
	display: block;
	text-align: center;
}

.atalhos div{
	display: inline-block;
}

.atalhos h2{
	
}

.atalhos p{
	
}

.atalhos img{
	width: 200px;
	transition: 0.5s;
	border-radius: 100%;
	background: #FFFFFF;
}

.atalhos img:hover{
	border-radius: 100%;
	width: 205px;
}
