/******Estilo dos Elementos do Rodapé******/
main {
	width: 1200px;
	margin: 0 auto;
	padding: 50px 0;
	background: white;
}

.apresentacao{
	text-align: center;
}

.apresentacao h2{
	font-size: 25px;
	font-weight: bold;
	margin: 15px auto;
}

.apresentacao p{
	width: 600px;
	margin: 0 auto;
	text-align: justify;
}

.atalhos{
	display: block;
	text-align: center;
	
}

.atalhos div{
	display: inline-block;
	margin: 50px;
}

.atalhos h2{
	
}

.atalhos p{
	
}

.atalhos img{
	width: 200px;
	transition: 0.5s;
	border-radius: 100%;
	background: #FFFFFF;
}

.atalhos img:hover{
	border-radius: 0;
	transform: scale(1.1);
	background: rgba(163,160,160,1.00);
}

.noticias-estatisticas{
	display: block;
	text-align: center;
}

.noticias,
.estatisticas{
	display: inline-block;
	width: 40%;
	margin: 10px;
	border: thin #FF0004 solid;
	vertical-align: top;
}

.noticias article div{
	display: block;
	border: thin #FF0004 solid;
}

.noticias article h4{
	float: left;
	border: thin #FF0004 solid;
}

.noticias article h5{
	border: thin #FF0004 solid;
	float: right;
}

.noticias article p{
	display: block;
	text-align: justify;
}

form {
    margin: 40px 0;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}
