/******Estilo do Documento******/
/******Estilo Geral do Corpo do Documento******/
body {
	background: lightgray;
}

.caixa{
	width: 1200px;
	margin: 0 auto;
}


.contraste{
	background: black;
	color: white;
}

a{
	color: black;
	text-decoration: none;
}

a:hover{
    color: #4B4B4B;
}


/******Estilo de Texto******/


