/******Estilo do Documento******/
/******Estilo Geral do Corpo do Documento******/
body {
	background: lightgray;
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
}

.contraste{
	background: black;
	color: white;
}




/******Estilo de Texto******/


