$cor-branca: #FFFFFF;
$cor-padrao: #3e7489;
$cor-padrao-auxiliar: rgba(62, 116, 137, 0.815);


$default-text-shadow-color: #000000;
$default-text-shadow-blur: 1px;
$default-text-shadow-v-offset: 2px;

