/******Estilo dos Elementos do Rodapé******/
main {
  background: $cor-branca;
  padding-top: 50px;

  @media only screen and (max-width: $responsivo) {
    padding: 20px 10px;
  }
}

.atalhos {
  @include display-flex;
  @include align-items(center);
  @include justify-content(space-between);
  width: 80%;
  margin: auto;

  @media only screen and (max-width: $responsivo) {
    @include flex-direction(column);
  }
}

.atalhos div {
  @include display-flex;
  @include align-items(center);
  @include flex-direction(column);
  width: 35%;
  padding: 0 20px;

  @media only screen and (max-width: $responsivo) {
    width: 100%;
  }
}

.atalhos h2 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.atalhos img {
  width: 150px;
  transition: 0.5s;

  &:hover {
    border-radius: 0;
    transform: scale(1.1);
  }
}

.apresentacao,
.noticias-estatisticas {
  @include display-flex;
  @include align-items(start);
  @include justify-content(space-between);
  margin: 50px 20px;

  @media only screen and (max-width: $responsivo) {
    @include align-items(center);
    @include flex-direction(column);
    margin: 0;
  }
}


.apresentacao div,
.apresentacao frame,
.noticias,
.estatisticas {
  width: 50%;

  @media only screen and (max-width: $responsivo) {
    width: 100%;
    margin-top: 20px;
  }
}

.noticias {
  article {
    margin-top: 30px;
  }
}

.estatisticas,
.apresentacao-descricao {
  margin-left: 40px;

  @media only screen and (max-width: $responsivo) {
    margin-left: 0;
  }
}

.estatisticas {
  #grafico-escondido {
    display: none;
  }

  #grafico {
    height: 500px;
  }

  @media only screen and (max-width: $responsivo) {
    width: 100%;
    margin-top: 20px;
  }
}

.cabecalho-noticias {
  @include display-flex;
  @include align-items(center);
  @include justify-content(space-between);
}

.portifolio {
  @include display-flex;
  @include flex-direction(column);
  background: $cor-padrao;
  padding: 50px 0;

  h2 {
    margin-bottom: 50px;
  }

  h4 {
    font-weight: bold;
    font-size: 20px;
    color: $cor-preta;
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  @media only screen and (max-width: $responsivo) {
    width: 100%;
    padding: 20px 0;
  }
}

.portifolio-container {
  @include display-flex;
  @include justify-content(center);

  @media only screen and (max-width: $responsivo) {
    width: 100%;
    @include flex-direction(column);
  }
}

.portifolio-imagem {
  @include display-flex;
  @include flex-direction(column);

  img {
    width: 500px;
    border: solid $cor-branca 6px;
    border-bottom: solid $cor-branca 50px;
    filter: drop-shadow(1px 1px 1px $cor-preta);
    -moz-filter: drop-shadow(1px 1px 1px $cor-preta);
    -webkit-filter: drop-shadow(1px 1px 1px $cor-preta);

    @media only screen and (max-width: $responsivo) {
      width: 90%;
    }
  }

  h3 {
    position: relative;
    font-weight: bold;
    font-size: 30px;
    top: -40px;
    width: 510px;
    text-align: center;

    @media only screen and (max-width: $responsivo) {
      width: 100%;
      font-size: 25px;
    }
  }

  @media only screen and (max-width: $responsivo) {
    width: 100%;
    @include align-items(center);
  }
}

.portifolio-descricao {
  @include display-flex;
  @include flex-direction(column);
  padding-left: 30px;

  @media only screen and (max-width: $responsivo) {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
  }
}

.portifolio-descricao-aquisicao {
  width: 500px;

  @media only screen and (max-width: $responsivo) {
    width: 90%;
  }
}

.portifolio-descricao-pessoas {
  @include display-flex;
  margin-top: 20px;

  img {
    @include border-radius(4px);
    width: 120px;
  }

  @media only screen and (max-width: $responsivo) {
    width: 90%;
  }
}

.portifolio-descricao-pessoas-container {
  @include display-flex;
  @include flex-direction(column);
  margin-left: 20px;

  @media only screen and (max-width: $responsivo) {
    margin-left: 10px;
    @include align-items(flex-start);
  }
}

.contato-map {
  @include display-flex;
  @include align-items(start);
  @include justify-content(space-around);
  margin: 0 20px;
  padding: 50px 0;

  @media only screen and (max-width: $responsivo) {
    width: 100%;
    @include flex-direction(column);
    text-align: center;
    margin: 0;
  }
}

.contato {
  @include display-flex;
  @include flex-direction(column);
  width: 500px;
  padding-left: 20px;

  @media only screen and (max-width: $responsivo) {
    width: 100%;
    padding-left: 0;
  }
}

.map {
  @include display-flex;
  @include align-items(center);
  @include flex-direction(column);
width: 100%;
  iframe {
    width: 550px;
    height: 400px;

    @media only screen and (max-width: $responsivo) {
      width: 100%;
      height: 300px;
    }
  }

  p {
    margin: 10px 0;
    text-align: center;
  }
  @media only screen and (max-width: $responsivo) {
    margin-top: 20px;
  }
}