.chefia,
.conselho,
.equipe-tecnica {
    @include display-flex;
    @include justify-content(start);
    @include flex-wrap(wrap);
    padding: 0 20px 50px 20px;
    

    .descricao-pessoas {
        width: 40%;
        margin: 5%;
        @media only screen and (max-width: $responsivo) {
            width: 100%;
          }
    }
}