/******Estilo Geral do Corpo do Documento******/
body {
	background: lightgray;
}

/******Caixa do Conteúdo Total da Página******/
.caixa {
	max-width: 1200px;
	margin: 0 auto;

	@media only screen and (max-width: $responsivo) {
		width: 100%;
	}
}

/******Estilo de Acessibilidade do Alto Contraste******/
.contraste {

	nav,
	div,
	li,
	ol,
	header,
	footer,
	section,
	main,
	aside,
	article {
		background: black;
		color: white !important;
	}

	h1,
	h2,
	h4,
	h5,
	h6,
	p,
	label,
	strong,
	em,
	cite,
	q,
	i,
	b,
	u,
	span {
		color: white !important;
	}

	h3 {
		color: black !important;
	}

	a {
		color: yellow !important;
	}

	button,
	input[type=button],
	input[type=reset],
	input[type=submit] {
		background: black;
		color: yellow i !important;
		border: none !important;
	}

	input[type=text],
	input[type=password],
	input[type=url],
	input[type=search],
	input[type=email],
	input[type=tel],
	input[type=date],
	input[type=month],
	input[type=week],
	input[type=datetime],
	input[type=datetime-local],
	textarea,
	input[type=number] {
		background: black !important;
		border: 1px solid white !important;
		color: white !important;
	}

	#icones-redes-sociais, 
	#grafico{
		div{
			filter: grayscale(100%);
		}
		
	}

	#barra-pesquisa-botao{
		filter: invert(100%);
	}

	#footer-brasil, 
	#barra-brasil, 
	header{
		background: black !important;
	}
	
	.logo-acesso-footer{
		filter: grayscale(100%);
	}

	.rodape-links .sessao-links ul li:before {
		border-left: 4px solid white;
	}
}

/******Estilo Gerais dos Textos******/
a {
	color: black;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: #4B4B4B;
	}

}

h2 {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}

h3 {
	font-weight: bold;
	font-size: 1.5rem;
	margin-bottom: 20px;
}

h4 {
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 10px;
}

h5 {
	font-size: 1.05rem;
	font-weight: bold;
	margin-bottom: 5px;
	border-bottom: black solid 1px;
}

p {
	text-align: justify;
	margin: 5px;
}

/******Estilo dos Formulários******/
form {
	@include display-flex;
	@include align-items(center);
	@include flex-direction(column);

	label,
	legend {
		font-size: 20px;
	}

	input,
	textarea {
		width: 450px;
		height: 40px;
		margin: 10px 0;
		@include border-radius(4px);
		border: 1px solid $cor-preta;

		@media only screen and (max-width: $responsivo) {
			width: 100%;
		}
	}

	textarea {
		height: 200px;
	}

	button {
		width: 450px;
		padding: 15px 0;
		margin: 10px 0;
		background: $cor-padrao;
		color: white;
		font-weight: bold;
		font-size: 18px;
		border: none;
		border-radius: 5px;
		transition: 1s all;
		cursor: pointer;

		&:hover {
			background: $cor-padrao-auxiliar;
			transform: scale(1.1);
		}

		@media only screen and (max-width: $responsivo) {
			width: 90%;
		}
	}

	.erro {
		border: 2px solid red;
	}

	.valido {
		border: 2px solid green;
	}
}

/******Estilo para Campos de Descrição de Pessoas******/
.descricao-pessoas {
	@include display-flex;
	margin-top: 20px;

	img {
		@include border-radius(4px);
		width: 120px;
		height: 120px;
	}

	@media only screen and (max-width: $responsivo) {
		width: 90%;
	}

	.descricao-pessoas-container {
		@include display-flex;
		@include flex-direction(column);
		margin-left: 20px;
	
		@media only screen and (max-width: $responsivo) {
			margin-left: 10px;
			@include align-items(flex-start);
		}
	}
}

